[Desktop Entry]
Name=Breeze Flat Dark
X-KDE-PluginInfo-Name=Breeze Flat Dark
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
