[SddmGreeterTheme]
Name=Breeze Flat Dark
Description=Breeze Flat Dark Theme
Author=
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=breeze
Theme-API=2.0
